@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

#main_resume {
  width: 80vw;
  margin: 0 auto 10% auto;
}
#top_nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: gainsboro;
  list-style-type: none;
  padding: 1rem;
  margin-bottom: 10px;
  width: 100vw;
  justify-content: space-around;
}
#top_nav li {
  font-weight: bold;
}
#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.3rem;
  background-color: gainsboro;
}

input,
textarea {
  font-weight: normal;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  margin: 2px;
  border: unset;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1.5em;
  border-bottom: solid 2px black;
}
span {
  text-align: left;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
